@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

body{
  margin:0;
  padding:10px;
  box-sizing: border-box;

  font-family: 'Kalam', cursive;
  background-color: #6fbf73;
  color:#ffff;
   .main{
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height: 100%;
     > .title  > h1{
       font-size: 60px;
     }
   }
}
